{% extends 'base.html' %}


{% block content %}
<div class="container text-center">
  <h1>These are the stats for the search: {{search}}</h1>

</div>
<canvas id="myChart"></canvas>
{% endblock %}

<script>
{% block jq %}

var ctx = document.getElementById("myChart").getContext('2d');
ctx.canvas.width = 200;
ctx.canvas.height = 200;
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Postive","Negative","Neutral"],
    datasets: [{
      backgroundColor: [
        "Red",
        "Yellow",
        "Blue"
      ],
      data: [{{pos}},{{neg}},{{neut}}]
    }]
  }
});
{% endblock %}

</script>
